@rendermode InteractiveServer
@using Evermail.WebApp.Services
@using Evermail.WebApp.Extensions
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthenticationStateService AuthStateService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="">Evermail</a>
        <AuthorizeView>
            <Authorized>
                <div class="d-flex align-items-center text-white">
                    <span class="me-3 small">
                        <span class="bi bi-person-circle me-1"></span>
                        @context.User.GetEmail()
                    </span>
                    <button class="btn btn-sm btn-outline-light" @onclick="HandleLogout">
                        <span class="bi bi-box-arrow-right me-1"></span>Logout
                    </button>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="upload">
                        <span class="bi bi-cloud-upload-fill" aria-hidden="true"></span> Upload
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="emails">
                        <span class="bi bi-envelope-fill" aria-hidden="true"></span> Emails
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                        <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private async Task HandleLogout()
    {
        // Remove token from localStorage
        await AuthStateService.RemoveTokenAsync();
        
        // Notify authentication state changed
        if (AuthStateProvider is CustomAuthenticationStateProvider customProvider)
        {
            customProvider.NotifyAuthenticationStateChanged();
        }

        // Redirect to home
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
